
*.class
*.bat
*.cer

\.idea/

bin/

src/Peer1/
src/Peer2/

src/Peer3/

src/scripts/test/

project2/src/Peer1/

project2/src/Peer2/
project2/src/\.DS_Store

project2/\.DS_Store

project2/src/Server/memory
